// $lg-desktop: 1440px;
// $desktop: 1200px;
// $lg-tablet: 1024px;
// $tablet: 768px;
// $phone: 575px;

// $font-size-large: 18px;
$font-size-default: 16px;
// $font-size-small: 14px;

$font-text-basic: 'Tahoma', 'Geneva', 'sans-serif';

$color-text-default: #000;
$color-text-basic: #fff;
// $color-text-secondary: #373737;
$color-text-accent: #17ae51;

$color-background-default: #fff;
$color-background-primary: #020202;
$color-background-secondary: #303e4e;
$color-background-accent: #ffc600;

$color-border-default: #a09f9e;
$color-border-accent: #ffc600;
